<!DOCTYPE html>
<!--This page should output some data from a csv file-->
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <p>Here is some data: </p>
        <ul>
            <li>name: <%= somedata.name %></li>
            <li>age: <%= somedata.age %></li>
            <li>gender: <%= somedata.gender %></li>
        </ul>

        <p>Here is some list</p>
        <% todoItems.forEach(function(item, index){ %>
            <li><%=index %>) <%=item.desc%></li>
        <% })%>
        <form action="/testpage/add" method="post">
            <input type="text" name="newItem">
            <input type="submit">
        </form>
    </body>
</html>